// Imports
@font-face {
    font-family: Manrope;
    src: url("assets/manrope-regular.otf") format("opentype");
}

// Constants
$green: #2ad611;
$red: #f74d47;
$yellow: #f0c700;
$washed_yellow: #f2d61c;

body {
    margin: 0;
    padding: 0;
}

.panel {
    max-width: 25%;
    height: 100vh;
    overflow-y: scroll;
    background: #EDEDED;

    header {
        padding: 4%;
        display: flex;
        align-items: center;

        img:first-child {
            flex: 1;
        }

        img:nth-child(2) {
            padding-left: 3%;
            flex: 2;
        }
    }

    .react-daterange-picker {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: Manrope, "Helvetica Neue", Helvetica, Arial, sans-serif;

        .react-daterange-picker__button:hover .react-daterange-picker__button__icon,
        .react-daterange-picker__button:focus .react-daterange-picker__button__icon {
            stroke: $yellow;
        }

        :focus {
            outline: none;
        }
    }

    .react-calendar {
        font-family: Manrope, "Helvetica Neue", Helvetica, Arial, sans-serif;

        .react-calendar__tile--active {
            background: $yellow;
        }

        .react-calendar__tile--hasActive {
            background: $yellow;
        }

        .react-calendar__tile--hasActive:enabled:hover, .react-calendar__tile--hasActive:enabled:focus {
            background: $washed_yellow;
        }

        .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
            background: $washed_yellow;
        }
    }
}
